h5 {
  font-size: 1.5em;
}
a {
  text-decoration: none !important;
  color: unset;
}
body {
  color: #232d4f;
}
#header {
  height: 55px;
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  /* background-color: #232d4f; */
  background-color: white;
  color: #232d4f;
  border-bottom: 0.5px solid gray;
}
#username {
  color: #232d4f;
}
#drabpol-logo {
  height: 40px;
  padding-left: 10px;
}
#avatar {
  border-radius: 100%;
  width: 36px;
}
#img-car {
  width: 100%;
}
.img-car {
  max-height: 115px;
}
#your-car {
  margin-top: 30px;
  margin-bottom: 60px;
}

#change-car {
}
#menu {
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 55px;
  font-size: 0.7em;
  /* background-color: #232d4f; */
  background-color: white;
  color: #232d4f;
}
#menu #menu-item,
#menu-item-last:hover {
  color: #232d4f;
}
#menu a {
  border-top: 0.5px solid gray;
}
#menu .active_menu {
  border-top: 2px solid #232d4f;
}
#menu i {
  font-size: 2.3em;
}

#menu-item {
  /* border-right: 1px solid whitesmoke; */
}
#choose-car-wraper,
#raport-wraper,
#add-doc-wraper,
#history-wraper,
#start-ride-wraper {
  margin-bottom: 100px !important;
}
#login-form {
  height: 100vh;
}
#choose-car {
  font-size: 0.7em;
  height: 50px;
  border-bottom: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
}
.hidden {
  display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#alert-mobile-only {
  display: none;
}
@media screen and (min-width: 913px) {
  .container {
    display: none;
  }
  #alert-mobile-only {
    display: block;
    color: black;
  }
}
@media screen and (max-width: 340px) {
  #username {
    display: none;
  }
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.25;
  transition: opacity 0.15s ease;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #232d4f;
  opacity: 40%;
}

h5 {
  font-size: 1.25em !important;
}
.SubmitCarButton {
  min-height: 50px !important;
}
table tr td {
  font-size: 0.9em !important;
}
.bi-file-arrow-down-fill {
  font-size: 1.5em;
}
#loading_gif {
  visibility: hidden;
}
#active_trip {
  color: #267f57;
}
