a {
  text-decoration: none !important;
  color: unset;
}
#header {
  background-color: #232d4f;
  color: whitesmoke;
}
#drabpol-logo {
  height: 40px;
}
#avatar {
  border-radius: 100%;
  border: 1px solid white;
  width: 36px;
}
#car-img {
  width: 100%;
}
#your-car {
}
#change-car {
}
#menu {
  color: whitesmoke;
}
#menu-item {
  background-color: #233e3b;
  height: 130px;
  width: 100%;
}
